@font-face {
    font-family: InFormalBold;
    font-weight: bold;
    src: url("/fonts/InFormalBold.otf") format("opentype");
}

@font-face {
    font-family: Qualio;
    font-weight: normal;
    src: url("/fonts/Qualio.otf") format("opentype");
}