/// main color

$p1: #3740ff;

$p1-t0: #1f65fb;

$p1-t1: #3740ff;

$bg-t0: #fff;
$bg-t1: #f8f9fa;
$bg-t2: #dedede;
$bg-t3: #f2f2f2;
$bg-t4: #f1f3f4;

$bg-t5: #dee8ff;

$font-color-t0: #2b2b2d;
$font-color-t1: #5e6368;


/// font

$title-bold: InFormalBold, sans-serif;
$content: Qualio, sans-serif;
