<header class="header">
    <div class="header__logo">
        Kevin Xi's Blog
    </div>
    <ul class="header__menu">
        <li class="header__menu-item">
            <a class="link" href="#">
                Blog
            </a>
        </li>
        <li class="header__menu-item">
            <a class="link" href="#">
                Life
            </a>
        </li>
        <li class="header__menu-item">
            <a class="link" href="#">
                About
            </a>
        </li>
    </ul>
</header>